

<div fxLayout="row" fxLayoutAlign="center center"  class="qr-contanier">
    <div>
    <mat-card class="qr-card">
        <mat-card-subtitle>QR </mat-card-subtitle>
        <mat-card-title>Generator</mat-card-title>
        <mat-card-content>
                <app-qr-form (formValuesChangesEmitter)="generateQr($event)"> </app-qr-form>
                
              
                
                
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
            <button mat-stroked-button color="primary" (click)="downloadQRCode()">Download QRCode</button>                    
          
        </mat-card-actions>
        <mat-card-footer>
          <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
        </mat-card-footer>
    </mat-card> 
    </div>
    <div>
        <qr-code  [value]="qrValueString" size="300" errorCorrectionLevel="M"></qr-code>
    </div>
</div>

    


   
    